.git
/AccessControl/
/Array2dtest/
/Balanced Number/
/Cikly/
/CLASSPATH/
/ClockPatience/
/Counting Duplicates/
/equalTest/
/init_and_finalize/
/Sinonimizacia/
/SpeedTest/
/untitled/
/Whilecikl/
.idea
